<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Bookmarks
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let bm of bookmarks" (click)="onSelect(bm)">
    <ion-card-header>
      {{bm.url}}
    </ion-card-header>
    <ion-card-content>
      {{bm.description}}
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="selectedBookmark">
    <ion-list-header>
      Bookmark Detail
    </ion-list-header>
    <ion-item>
      <ion-label fixed>URL:</ion-label>
      <ion-input type="text" [(ngModel)]="selectedBookmark.url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Description:</ion-label>
      <ion-textarea [(ngModel)]="selectedBookmark.description"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>